    <footer>
      <p>
        <strong>PizzaCode</strong> is located at
        <strong>15 Dawson Street, Dublin 2.</strong>
      </p>
      <p>
        <strong>Phone:</strong> +353 1623344<br />
        <strong>Email:</strong> reserve@pizzacode.ie
      </p>
      <p>Website by Ryan White and Tara Johnson-Slevin</p>
    </footer>
  </body>
</html>
